<div class="header col-md-12 d-flex align-items-center justify-content-center py-4 mt-5">
  <h2>Rated movies</h2>
  <h1>Top</h1>
</div>

<swiper
    [slidesPerView]="3"
    [spaceBetween]="30"
    [slidesPerGroup]="3"
    [loop]="false"
    [loopFillGroupWithBlank]="false"
    [navigation]="true"
    class="mySwiper my-3"
  >
    <ng-template swiperSlide *ngFor="let movie of muliSliderList | async">
        <a [routerLink]="['/app-details', movie.id]">
          <div class="movies">

          <div class="img">
           <div class="overlay">
            <h4>Show Details</h4>
           </div>
            <img [src]="imagePrefix + movie.poster_path" alt="movie images" class="w-75">
          </div>
          </div>
        </a>
    </ng-template >
  </swiper>
