.header h2{
  position: relative;
  text-transform: uppercase;
  z-index: 2;
  font-size: 30px;
  font-weight: 900;
}
.header h1{
  position: absolute;
  color: #f4b2b08c;
  font-size: 70px;
  text-transform: uppercase;
  z-index: 1;
  padding-bottom: 35px;
  font-weight: 900;
}
.mySwiper2{
    text-align: center;
    width: 50%;
}
.mySwiper2 img{
    width: 100% !important;
    margin: auto;
}
.mySwiper2 ng-template{
  position: relative;
}
.mySwiper2 .btn-info{
  background-color: transparent !important ;
  border-color: #F4B2B0 !important;
  transition: all .5s ease;
  position: relative;
  color: #ffff;
  transition: all .4s ease-in-out;
}
.mySwiper2 .btn-info:hover{
  background-color: #F4B2B0 !important ;
}
.mySwiper2 .little-Details{
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.9920167896260067) 0%, rgba(0,0,0,0.14047617337950802) 100%);
}

.mySwiper{
    width: 100%;
}
.mySwiper img{
    height: 300px;
}

/* Adding styles in mobile & Tablets View */

@media screen and (max-width:900px){
  .mySwiper img{
    height: 100px !important;
}
}
